
.navbar-brand {
padding-left: 50px;
  display: flex;
  align-items: center;
}

.navbar-nav {
  text-align: center;
  width: 100%;
  justify-content: space-around;
}


/* NAV STYLE*/

.footer {
  background: linear-gradient(to right, #000, #939393);
color: #fff;
padding: 20px 0; 
}